<div class="main-panel">
  <div
    (scrolled)="onScroll()"
    [immediateCheck]="false"
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="100"
    [scrollWindow]="true"
    class="search-results"
    infiniteScroll
  >
    <div (click)="openPostDialog(post)"
         *ngFor="let post of posts"
         class="bg-white rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105 m-2 sm:m-4 relative h-200 sm:h-auto">
      <mat-card class="post-card">
        <div class="flex flex-col sm:flex-row">
          <div class="w-full sm:w-1/4 bg-gray-200">
            <img *ngIf="post.images.length > 0" [src]="post.images[0].contentUrl" alt="Post Image"
                 class="object-cover h-80 w-full">
            <img *ngIf="post.images.length === 0" alt="Placeholder Image" class="object-cover h-80 w-full"
                 src="../../../../../assets/placeholderPost.png">
          </div>
          <div class="w-full sm:w-3/4 p-4 flex flex-col">
            <div class="flex flex-col sm:flex-row justify-between items-start mb-2">
              <div class="flex items-center mb-2 sm:mb-0">
                <img [src]="post.user.pictureUrl"
                     alt="User Picture"
                     class="h-10 w-10 object-contain rounded-full mr-2">
                <div class="flex flex-col">
                  <span class="text-xs">{{ post.user.email }}</span>
                  <div class="flex items-center mt-1">
                    <ng-container
                      *ngIf="post.user.userReviewsWhereUserIsTargeted && post.user.userReviewsWhereUserIsTargeted.length > 0; else noReviews">
                      <ng-container
                        *ngIf="calculateAverageRating(post.user.userReviewsWhereUserIsTargeted) as averageRating">
                        <ng-container *ngFor="let starIndex of [1, 2, 3, 4, 5]">
                          <mat-icon class="star-icon text-amber-500">
                            <ng-container *ngIf="starIndex <= averageRating">
                              star
                            </ng-container>
                            <ng-container *ngIf="starIndex > averageRating && starIndex < averageRating + 1">
                              star_half
                            </ng-container>
                            <ng-container *ngIf="starIndex >= averageRating + 1">
                              star_border
                            </ng-container>
                          </mat-icon>
                        </ng-container>
                        <span class="text-xs ml-1">{{ averageRating.toFixed(1) }}/5</span>
                      </ng-container>
                    </ng-container>


                    <ng-template #noReviews>
                      <span class="text-xs ml-1">Pas encore d'évaluations</span>
                    </ng-template>
                  </div>
                </div>
              </div>
              <p class="text-xs text-gray-500 sm:mt-0 mt-2">{{ formatTime(post) }}</p>
            </div>
            <h2 class="text-md font-semibold text-gray-800 mb-1">{{ post.name }}</h2>
            <p
              class="text-xs text-gray-700">{{ post.content | slice:0:80 }}{{ post.content.length > 80 ? '...' : '' }}</p>
          </div>
          <div class="flex justify-end mt-2">
            <button class="text-xs" color="primary" mat-button>Ouvrir</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div *ngIf="isUserLoggedIn()" class="sticky-fab hidden md:block">
    <button (click)="openDialog()" class="sticky-fab" color="primary" mat-fab>
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
