<div *ngIf="hasRooms">
  <div class="relative bg-gray-100 p-4 flex flex-col md:flex-row h-screen">
    <button (click)="toggleSidebar()"
            class="md:hidden mb-4 flex justify-between items-center bg-gray-200 p-4 pb-2 w-full rounded-lg shadow-md hover:bg-gray-300 focus:outline-none focus:ring">
      <span>Liste des conversations</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <div [class.hidden]="isSidebarHidden" [class.md:block]="isSidebarHidden" [class.w-0]="isSidebarHidden" [class.w-full]="!isSidebarHidden"
         class="md:w-1/5 lg:w-1/4 pb-4 bg-white rounded-lg overflow-y-auto overflow-x-hidden scrollbar scrollbar-thumb-gray-300 scrollbar-track-gray-100 md:mb-0 transition-all duration-300 ease-in-out">
      <app-room-sidebar></app-room-sidebar>
    </div>

    <!-- Zone de chat -->
    <div class="flex-grow md:w-2/3 lg:w-3/4 bg-white rounded-lg flex flex-col shadow-lg pt-4 flex-1 overflow-hidden space-y-4 mb-16 md:mb-0">
      <!-- Messages -->
      <div class="flex-1 overflow-y-auto scrollbar scrollbar-thumb-gray-300 scrollbar-track-gray-100 relative">
        <app-room-screen></app-room-screen>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!hasRooms" class="h-screen flex justify-center items-center text-gray-500">
  <p>Vous n'avez pas de salons de discussion.</p>
</div>
