<div *ngIf="hasRooms">
<div class="relative bg-gray-100 p-4 mb-20 flex flex-col md:flex-row h-screen">
  <button (click)="toggleSidebar()"
          class="md:hidden mb-4 flex justify-between items-center bg-gray-200 p-4 pb-2 w-full rounded-lg shadow-md hover:bg-gray-300 focus:outline-none focus:ring">
    <span>Liste des conversations</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <div [class.overflow-hidden]="isSidebarHidden" [class.w-0]="isSidebarHidden" [class.w-full]="!isSidebarHidden"
       class="md:w-1/4 pb-4 bg-white rounded-lg scrollbar scrollbar-thumb-gray-200 scrollbar-track-gray-100 md:mb-0 transition-all duration-300 ease-in-out overflow-y-scroll">
    <app-room-sidebar></app-room-sidebar>
  </div>
  <!-- Zone de chat -->
  <div class="md:flex-grow w-full md:w-3/4 bg-white rounded-lg flex flex-col shadow-lg pt-4 flex-1 max-h-screen overflow-hidden">
    <!-- Messages -->
    <div #messageList class="flex-1 p-4 overflow-auto">
    <app-room-screen></app-room-screen>
    </div>
    <app-room-input></app-room-input>
  </div>
</div>
</div>
<div *ngIf="!hasRooms" class="h-screen flex justify-center items-center text-gray-500">
  <p>Vous n'avez pas de salons de discussion.</p>
</div>
