<div class="h-screen bg-gray-100 p-4 flex">
  <div class="w-1/4 bg-white rounded-lg scrollbar scrollbar-thumb-gray-900 scrollbar-track-gray-100 overflow-y-scroll">

  <app-room-sidebar [rooms]="rooms"
                    [currentUser]="currentUser"
                    [selectedRoom]="selectedRoom"
                    (roomSelected)="onRoomSelected($event)"
  >

  </app-room-sidebar>
  </div>

  <!-- Zone de chat -->
  <div class="w-3/4 bg-white rounded-lg flex flex-col shadow-lg">
    <!-- Messages -->
    <div #messageList class="flex-1 p-4 overflow-y-scroll">
      <div *ngFor="let message of selectedRoom?.messages">
        <div [ngClass]="message.user.id === currentUser!.id ? 'justify-end' : 'justify-start'"
             class="flex items-end mb-4">
          <!-- Si le message est du destinataire, affichez l'image à gauche -->
          <div *ngIf="message.user.id !== currentUser!.id" class="flex-none">
            <img [src]="message.user.pictureUrl || 'https://via.placeholder.com/40'" alt="User Image"
                 class="h-8 w-8 rounded-full shadow-sm">
          </div>

          <div [ngClass]="message.user.id === currentUser!.id ? 'bg-gray-400 text-white' : 'bg-blue-600 text-white'"
               class="ml-4 p-3 rounded-lg max-w-md shadow-md hover:bg-opacity-90 transition-all duration-300">
            {{ message.message }}
          </div>

          <!-- Si le message est de l'utilisateur actuel, affichez l'image à droite -->
          <div *ngIf="message.user.id === currentUser!.id" class="flex-none">
            <img [src]="message.user.pictureUrl || 'https://via.placeholder.com/40'" alt="User Image"
                 class="h-8 w-8 rounded-full shadow-sm">
          </div>
        </div>
      </div>
    </div>


    <!-- Zone de saisie -->
    <div class="p-4 border-t border-gray-200">
      <div class="flex items-center">
        <input (keyup.enter)="!isSending ? sendMessage() : null"
               [(ngModel)]="newMessageContent"
               class="flex-grow p-3 rounded-l border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
               placeholder="Écrivez un message..."
               type="text">
        <button (click)="sendMessage()" [disabled]="isSending"
                class="bg-blue-500 text-white p-3 rounded-full hover:bg-blue-600 transition-colors">
          Envoyer
        </button>

      </div>
    </div>
  </div>
</div>
