<div class="bg-gray-900 min-h-screen p-6 fade-in">

  <!-- Carte de profil utilisateur -->
  <div class="bg-green-500 rounded-md p-6 shadow-xl">
    <div *ngIf="userInfo" class="text-center">
      <img alt="Avatar de l'utilisateur" class="w-20 h-20 rounded-full mx-auto mb-4 shadow-lg"
           src="{{ userInfo.pictureUrl }}">
      <div class="text-2xl text-white font-bold">{{ userInfo.email }}</div>
    </div>
  </div>

  <!-- Grille des posts -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-6">
    <div *ngFor="let post of userPosts" class="relative bg-white rounded-lg shadow-xl overflow-hidden card-hover">
      <div (click)="openPostDialog(post)">
        <img *ngIf="post.images && post.images.length > 0" [src]="post.images[0].contentUrl" alt="Post Image"
             class="w-full h-64 object-cover">
        <img *ngIf="post.images.length === 0" alt="Placeholder Image"
             class="w-full h-64 object-cover"
             src="../../../../../assets/placeholderPost.png">


        <div class="p-4">
          <div class="font-semibold mb-2 text-green-800">{{ post.user.email }}</div>
          <div class="text-gray-800">{{ post.content }}</div>
        </div>
      </div>
    </div>
  </div>

</div>
