// Feed Sticky Button to create post

.sticky-fab {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 1000; /* pour s'assurer qu'il reste au-dessus des autres éléments */
}








// Create Post CSS Modal :




