<div class="fixed inset-0 flex items-center justify-center z-50 px-4 sm:px-0">
  <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-md relative">
    <div class="flex justify-between items-start mb-4">
      <h2 class="text-xl font-semibold">Notation</h2>
      <button (click)="close()" mat-icon-button>
        <mat-icon color="warn">close</mat-icon>
      </button>
    </div>
    <div class="flex items-center justify-center space-x-2">

      <!-- Champ de commentaire -->
      <textarea
        (keyup.enter)="submitRating()"
        [(ngModel)]="note"
        class="w-full h-16 mt-4 border border-gray-300 rounded p-2 focus:outline-none"
        placeholder="Laissez un commentaire..."
      ></textarea>

    </div>

    <div class="flex items-center justify-center space-x-2 mt-4">
      <h4 class="text-gray-600 text-center text-lg h-6">{{ rating }} étoiles</h4>
      <ng-container *ngFor="let star of stars; let i = index" class="self-start">
        <svg
          (click)="rate(i + 1)"
          [class.text-gray-400]="i >= rating"
          [class.text-yellow-500]="i < rating"
          class="h-6 w-6 cursor-pointer transition-transform transform hover:scale-125 fill-current"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10 1l2.4 6.3H18l-5 4.8 1.4 6.1L10 15.4l-4.8 2.8L6 11.1l-5-4.8h5.6L10 1z"
          />
        </svg>
      </ng-container>
    </div>


    <div class="flex justify-end mt-6">
      <button
        (click)="submitRating()"
        class="text-blue-500 hover:text-blue-700 font-semibold"
      >
        Soumettre
      </button>
    </div>
  </div>
</div>
