<div class="flex flex-col items-center justify-center bg-gray-100 dark:bg-gray-900 px-4 sm:px-8 py-8">
  <div class="flex justify-between w-full mb-6">
    <span class="self-center text-2xl font-semibold text-gray-800 dark:text-white">Ajouter un post</span>
    <button (click)="close()" color="warn" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="w-full pb-4">
    <label class="block text-sm font-medium text-gray-700" for="title">Titre</label>
    <input [(ngModel)]="tweetName" class="mt-1 p-2 w-full border rounded-md" id="title" name="title"
           placeholder="Titre de votre post" type="text">
  </div>

  <div class="mb-4 w-full">
    <label class="block text-sm font-medium text-gray-700" for="location">Localisation</label>
    <input [(ngModel)]="location" class="mt-1 p-2 w-full border rounded-md" id="location" name="location"
           placeholder="Localisation" type="text">
    <div *ngFor="let option of filteredLocations" class="cursor-pointer hover:bg-gray-100 p-2">
      {{ option }}
    </div>
  </div>

  <div class="mb-4 w-full">
    <label class="block text-sm font-medium text-gray-700" for="tweet">Contenu</label>
    <textarea [(ngModel)]="tweetText" class="mt-1 p-2 w-full border rounded-md" id="tweet" rows="4"></textarea>
  </div>

  <div class="grid grid-cols-2 gap-4 mb-4 w-full">
    <ng-container *ngFor="let image of images; let i = index" class="pt-2">
      <div
        class="relative image-container hover:shadow-lg transform hover:scale-105 transition-transform duration-300 ease-in-out group">
        <img [src]="getImageUrl(image)" class="w-full h-24 rounded-md object-cover pt-2 shadow-sm">
        <button (click)="removeImage(i)"
                class="delete-button absolute top-0 right-0 transition-opacity duration-300 ease-in-out opacity-0 group-hover:opacity-100">
          <mat-icon class="text-gray-500 hover:text-red-500">delete</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>

  <div *ngIf="images.length < 4"
       class="relative flex items-center justify-center w-full mb-4 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
    <input (change)="handleImage($event)" class="absolute inset-0 opacity-0 w-full h-full cursor-pointer"
           id="imageInput" type="file">
    <div class="flex flex-col items-center justify-center p-5 text-gray-500">
      ↑
      <p class="text-sm">Glissez votre image ici ou cliquez pour choisir</p>
    </div>
  </div>

  <div class="flex justify-end px-4 py-2">
    <button (click)="sendTweet()" color="primary" mat-raised-button>Envoyer</button>
  </div>
</div>
