@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@import 'node_modules/ngx-toastr/toastr.css';


@import './styles/fonts.scss';
@import './styles/loginModal';
@import './styles/feed.scss';
@import './styles/anims.scss';
@import './styles/commentlike.scss';

a {
  cursor: pointer;
}

h1, h2, h3, h4, p {
  margin: 0 0 0 !important;
}

//.comment:first-child mat-icon {
//  animation: votreAnimation 1.5s forwards;
//}

body {
  background-color: #1f2937;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#user-menu-button {
  display: none;
  pointer-events: none;
}

.user-logged-in #user-menu-button {
  display: block;
  pointer-events: auto;
}

.messagelist {
  @media (min-width: 768px) {
    max-height: 29rem;
  }
  @media (min-width: 1400px) {
    max-height: 49rem;
  }
}



