<div class="p-4 border-t border-gray-200 flex items-center">
  <div *ngIf="selectedRoom?.trade?.statut !== 'closed'; else tradeClosedContent" class="flex items-center w-full">
    <input (keyup.enter)="!isSending ? sendMessage() : null"
           [(ngModel)]="newMessageContent"
           class="flex-grow rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 p-2 mr-2"
           placeholder="Écrivez un message..."
           type="text">
    <button (click)="sendMessage()" [disabled]="isSending"
            class="bg-blue-500 text-white p-2 rounded-full hover:bg-blue-600 transition-colors"
            color="primary" mat-raised-button>
      Envoyer
    </button>
  </div>

  <ng-template #tradeClosedContent>
    <div class="text-gray-500">La conversation est fermée.</div>
  </ng-template>
</div>
