<section class="bg-green-500 py-6 px-4 md:px-8">
  <div class="container mx-auto flex flex-col md:flex-row items-center justify-between">
    <!-- Logo ou titre de la page -->
    <div class="text-white text-2xl font-bold mb-4 md:mb-0">
      Index
    </div>

    <!-- Bouton d'action ou de navigation -->
    <button class="bg-white text-green-500 hover:bg-green-100 text-sm font-bold py-2 px-4 rounded">
      S'abonner
    </button>
  </div>
</section>


<div class="bg-white min-h-screen py-6 flex justify-center items-center">
  <div class="w-full md:w-2/3 px-4 bg-white">
    <app-feed></app-feed>
  </div>
</div>
