<section class="bg-green-500 py-6 px-4 md:px-8">
  <div class="container mx-auto flex flex-col md:flex-row items-center justify-between">
    <!-- Logo ou titre de la page -->
    <div class="text-white text-2xl font-bold mb-4 md:mb-0">
      Index
    </div>

    <!-- Bouton d'action ou de navigation -->
    <button class="bg-white text-green-500 hover:bg-green-100 text-sm font-bold py-2 px-4 rounded">
      S'abonner
    </button>
  </div>
</section>


<div class="bg-white min-h-screen py-6">
  <div class="container mx-auto mt-6 flex flex-col-reverse md:flex-row h-full">
    <div class="w-full md:w-1/5 px-4 mb-4 md:mb-0">
    </div>

    <!-- Zone principale -->
    <div class="w-full md:w-3/5 px-4 bg-white">
      <app-feed></app-feed>
    </div>
  </div>
</div>
